:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primary-0: #12352d;
  --primary-1: #2aa88c;
  --primary-2: #216253;
  --primary-3: #061612;
  --primary-4: #000302;

  --secondary-0: #52421b;
  --secondary-1: #ffc840;
  --secondary-2: #987b34;
  --secondary-3: #221a09;
  --secondary-4: #040301;

  --tertiary-0: #46172a;
  --tertiary-1: #dc377a;
  --tertiary-2: #822c4f;
  --tertiary-3: #1d0810;
  --tertiary-4: #040102;

  color: var(--primary-1);
  background-color: var(--primary-4);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--secondary-2));
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-4);
  background-color: var(--secondary-1);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px var(--secondary-4);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--secondary-3);
}
button:active {
  border-color: var(--secondary-4);
  background-color: var(--secondary-3);
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}
